@page
@using ProjetoBancoDeItens.Data.Enum
@using ProjetoBancoDeItens.Data.DTO
@model ProjetoBancoDeItens.Pages.CadastroItemModel
@{
    ViewData["Title"] = "CadastroItem";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@section Scripts {

    <script src="~/lib/font-awesome/js/all.js"></script>
}

    <header>

        @{
            var modelo = new List<string> { "Home", "Cadastro de Item" };

        }
        <partial name="_BreadCrumb" model="modelo" />

        <div class="row" style="justify-content:center">
            <h1 style="padding-bottom:30px">Cadastro de Item</h1>
        </div>
        <br />
    </header>


<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-6 row">
            <div class="col-1"></div>
            <div class="col-11">
                <div class="row">
                    <div class="col-1" style="justify-content:center; display:inline-grid; margin-top:35px">
                        <a href="#">
                            <span>
                                <i style="font-size:40px" class="fa fa-pencil-alt text-dark p-2" id="suporteTextoIcone" onclick="ImagemParaTexto()"></i>
                                <i style="font-size:44px" class="fa fa-image text-dark p-2" id="suporteImagemIcone" onclick="TextoParaImagem()"></i>
                            </span>

                        </a>
                    </div>
                    <div class="col-11" >
                        <label style="text-align:center; margin-bottom:0px; border-radius:10px 10px 0px 0px; width:150px" class="bg-success text-white">Suporte</label>
                        <div id="suporteImagem" style="display:none; margin-top: 10px">
                            <a href="#">
                                <label for="fileFaIcon" class="text-white" style="order: solid 2px #28a745;background-color: #28a745; text-align: center; border-radius: 5px; width: 270px;">
                                    Clique aqui  para selecione a Imagem&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <input type="file" style="display: none" asp-for="itemCadastrado.Suporte.Imagem" id="fileFaIcon" />
                                </label>
                            </a>
                        </div>
                        <textarea asp-for="itemCadastrado.Suporte.Texto" cols="40" rows="4" id="suporteTexto">
                        </textarea>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-11">
                        <label style="text-align:center; margin-bottom:0px; border-radius:10px 10px 0px 0px; width:150px" class="bg-success text-white">Comando</label>
                        <textarea asp-for="itemCadastrado.Comando" cols="40" rows="4">
                        </textarea>
                    </div>
                </div>
                <br />
                <div class="row" >
                    <div class="col-1"></div>
                    <div class="col-6">
                        <div class="">
                            <a data-toggle="collapse" href="#example">
                                <label style="text-align:center; margin-bottom:0px; border-radius:10px 10px 0px 0px; width:150px" class="bg-success text-white">Alternativas</label>
                            </a>
                        </div>
                        <div class="">
                            <a> 
                                <i style="font-size:40px" class="fa fa-pencil-alt text-white p-2" id="alternativaTextoIcone" onclick="ImagemParaTextoAlternativa()"></i>
                            </a>
                            <a> 
                                <i style="font-size:44px" class="fa fa-image text-white p-2" id="alternativaImagemIcone" onclick="TextoParaImagemAlternativa()"></i>
                            </a>
                        </div>
                        <div class="collapse" id="example">
                            <div id="alternativaTexto">
                                @{
                                    int c = 0;
                                    foreach (var alternativaTexto in Model.itemCadastrado.ListaAlternativas)
                                    {

                                        <p class="text-white"><u>Alternativa @alternativaTexto</u></p>
                                        <textarea cols="35" rows="2" asp-for="itemCadastrado.Alternativas[c].Conteudo.Texto">
                                    </textarea>
                                        <input type="hidden" value="@((c+1))" asp-for="itemCadastrado.Alternativas[c].Posicao" />
                                        <div class="row" style="display: ruby-text-container;">
                                            <label class="text-white">Marque se for a resposta correta: &nbsp;&nbsp;</label>
                                            <input type="radio" asp-for="itemCadastrado.Gabarito" value="@alternativaTexto" />
                                        </div>
                                        
                                        c++;
                                    }
                                }
                            </div>

                            <div id="alternativaImagem" style="display:none">
                                @{
                                    int d = 0;
                                    foreach (var alternativaImagem in Model.itemCadastrado.ListaAlternativas)
                                    {

                                        <p class="text-white"><u>Alternativa @alternativaImagem</u></p>
                                        <label for="substitute_@alternativaImagem" class="text-white" style="border: solid 2px #28a745;background-color: #28a745; text-align: center; border-radius: 5px; width: 270px;">
                                            Clique aqui  para selecione a Imagem &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <input asp-for="itemCadastrado.Alternativas[d].Conteudo.Imagem" type="file" style="display:none" id="substitute_@alternativaImagem" />
                                        </label>
                                        <input type="hidden" value="@((d+1))" asp-for="itemCadastrado.Alternativas[d].Posicao" />
                                        <div class="row" style="display: ruby-text-container;">
                                            <label class="text-white">Marque se for a resposta correta: &nbsp;&nbsp;</label>
                                            <input type="radio" asp-for="itemCadastrado.Gabarito" value="@alternativaImagem" />
                                        </div>
 
                                        d++;
                                    }
                                }
                            </div>
                            
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 row">
            <div class="col-11">
                <div class="row" style="justify-content:center">
                    <div class="col-10" style="display:inline-grid">
                        <label style="text-align:center; margin-bottom:0px; border-radius:10px 10px 0px 0px" class="bg-success text-white">Unidade Curricular</label>
                        <div class="form-group">
                            <select style="text-align:center" asp-for="itemCadastrado.UnidadeCurricular" asp-items="Model.ListaUnidadesCurriculares" class="form-control checkclass">
                                <option value="">Selecione</option>
                            </select>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row" style="justify-content:center">
                    <div class="col-10" style="display:inline-grid">
                        <label style="text-align:center; margin-bottom:0px; border-radius:10px 10px 0px 0px" class="bg-success text-white">Nível de Dificuldade</label>
                        <select style="text-align:center" asp-for="itemCadastrado.Nivel" asp-items="Html.GetEnumSelectList<Constantes.Nivel>()" class="form-control checkclass">
                            <option value="">Selecione</option>
                        </select>
                    </div>
                </div>
                <br />
                <div class="row" style="justify-content:center">
                    <div class="col-10" style="display:inline-grid">
                        <label style="text-align:center; margin-bottom:0px; border-radius:10px 10px 0px 0px" class="bg-success text-white">Competências</label>
                        <select asp-for="itemCadastrado.Competencias" asp-items="Html.GetEnumSelectList<Constantes.Competencias>()" class="form-control checkclass">
                            <option value="">Selecione</option>
                        </select>

                    </div>
                </div>
                <br />
                <div class="row" style="justify-content:center">
                    <button class="col-6" style="border:none; color:white; background-color:#28a745; border-radius:5px; height:35px" type="submit">
                        Inserir item
                    </button>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</form>

<script>

    function ImagemParaTexto() {
        document.getElementById("suporteImagem").style.display = "none";
        document.getElementById("suporteTexto").style.display = "block";
    }

    function TextoParaImagem() {
        document.getElementById("suporteImagem").style.display = "block";
        document.getElementById("suporteTexto").style.display = "none";
    }

    function ImagemParaTextoAlternativa() {
        document.getElementById("alternativaImagem").style.display = "none";
        document.getElementById("alternativaTexto").style.display = "block";
        $('.collapse').collapse("show");
    }

    function TextoParaImagemAlternativa() {
        document.getElementById("alternativaImagem").style.display = "block";
        document.getElementById("alternativaTexto").style.display = "none";
        $('.collapse').collapse("show");
    }
    
</script>